* {
    padding: 0;
    margin: 0;
}

:root {
    --background-purple: #520676;
    --purple-gradient: linear-gradient(135deg, rgb(40, 35, 44) 0%, rgba(82, 6, 118, 1) 100%);
}

html {
    min-height: 100%;
    overflow: hidden;
    font-family: 'Karla';
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-purple);
    background: var(--purple-gradient);
    color: #fff;
}

h1{
    font-family: 'Electrolize';
    font-size: 2.5rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu{
    margin: 10px;
    padding: 1rem;
    background-color: black;
    border-radius: 25px;
    border: 2px solid #373333;
    opacity: 60%;
    display: flex;
    gap: 1em;
}

.nav-menu a {
    color:#fff;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content:center;
    gap: 10px;
    padding: 2rem 3rem 1rem 3rem;
}

.hero svg{
    max-height: 20px;
}

.hero-left {
    width: clamp(250px, 50%, 450px);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-left p{
    opacity: 70%;
    font-size: 0.9rem;
}

.hero-right {
    width: clamp(200px, 50%, 350px);
    display: flex;
    justify-content:center;
    align-items: center;
}

#computer-pixel {
    max-height: 200px;
    padding: 5px 10px 0 20px;
}

.hero-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-right: 15px;
}

.hero-contact svg {
    max-height: 25px;
}

#curriculum-button{
    padding: 0.5rem;
    color: #fff;
    background-color: #9b4fbe;
    border: 1px solid #575353;
    border-radius: 25px;
}




